h1 {
  text-align: center;
}
.container {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: pink;
    border-radius: 20px;
}
.todoInput {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-bottom: 10px;
}
#add-btn{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #333;
    cursor: pointer;
}
#add-btn:hover{
    background-color: #9BA4B5;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.completed {
    text-decoration: line-through;
    color: #888;
}
.todo-item button {
    margin-left: 10px;
    padding: 6px 12px;
    border: 1px solid #333;
    border-radius: 20px;
    cursor: pointer;
}
.todo-item button:hover {
    background-color: #9BA4B5;
}