h1 {
  text-align: center;
}
.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px #888;
    border: 1px solid black;
    border-radius: 10px;
}
.todoInput {
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
}
#add-btn{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #333;
    /* cursor: pointer; */
}
#add-btn:hover{
    background-color: #9BA4B5;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    /* border: 2px solid;
    border-radius: 5px; */
}
.todo-item:hover{
    border: 2px splid black;
    border-radius: 5px;
}
.completed {
    text-decoration: line-through;
    color: #888;
}
#del-btn {
    /* margin-left: 10px; */
    padding: 5px 5px;
    height: 25px;
    border: 1px solid #333;
    /* cursor: pointer; */
}
.todo-item button:hover {
    background-color: #9BA4B5;
}
.todo-props{
    /* display: block; */
    margin-left: 5px;
}
button{
    cursor: pointer;
}